<h2 mat-dialog-title>Create new workout</h2>

<mat-dialog-content [formGroup]="createWorkoutFormGroup">

  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput id="title" name="title" formControlName="title" required>
    <mat-error *ngIf="createWorkoutFormGroup.get('title').invalid"> {{getErrorMessage('title')}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput id="description" name="description" formControlName="description" required></textarea>
    <mat-error *ngIf="createWorkoutFormGroup.get('description').invalid"> {{getErrorMessage('description')}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Circuit</mat-label>
    <mat-select id="circuit" formControlName="circuit" required>
      <mat-option value="true">Yes</mat-option>
      <mat-option value="false">No</mat-option>
    </mat-select>
    <mat-error *ngIf="createWorkoutFormGroup.get('circuit').invalid"> You must choose an option</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Race</mat-label>
    <mat-select id="race" formControlName="race" required>
      <mat-option value="true">Yes</mat-option>
      <mat-option value="false">No</mat-option>
    </mat-select>
    <mat-error *ngIf="createWorkoutFormGroup.get('race').invalid"> You must choose an option</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Bar</mat-label>
    <mat-select id="bar" formControlName="bar" required>
      <mat-option value="true">Yes</mat-option>
      <mat-option value="false">No</mat-option>
    </mat-select>
    <mat-error *ngIf="createWorkoutFormGroup.get('bar').invalid"> You must choose an option</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Pull Ups</mat-label>
    <mat-select id="pullups" formControlName="pullups" required>
      <mat-option value="true">Yes</mat-option>
      <mat-option value="false">No</mat-option>
    </mat-select>
    <mat-error *ngIf="createWorkoutFormGroup.get('pullups').invalid"> You must choose an option</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Fitness</mat-label>
    <textarea matInput id="fitness" name="fitness" formControlName="fitness"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Comments</mat-label>
    <textarea matInput id="comments" name="comments" formControlName="comments"></textarea>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" (click)='create()'
          [formGroup]="createWorkoutFormGroup" [disabled]="createWorkoutFormGroup.invalid">Create
  </button>

</mat-dialog-actions>

