<h2 mat-dialog-title>Change Password</h2>

<mat-dialog-content [formGroup]="changePasswordFormGroup">
  <mat-form-field appearance="fill">
    <mat-label>Old password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" id="oldPassword" name="oldPassword"
           formControlName="oldPassword"
           required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error
      *ngIf="changePasswordFormGroup.get('oldPassword').invalid"> {{getErrorMessage('oldPassword')}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>New password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" id="newPassword" name="newPassword"
           formControlName="newPassword"
           required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error
      *ngIf="changePasswordFormGroup.get('newPassword').invalid"> {{getErrorMessage('newPassword')}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Confirm password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" id="confirmPassword" name="confirmPassword"
           formControlName="confirmPassword"
           required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error
      *ngIf="changePasswordFormGroup.get('confirmPassword').invalid"> {{getErrorMessage('confirmPassword')}}</mat-error>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="close()">Close</button>
  <button mat-raised-button color="primary" (click)="update()" [formGroup]="changePasswordFormGroup"
          [disabled]="changePasswordFormGroup.invalid">Update
  </button>
  <mat-error *ngIf="changePasswordFormGroup.get('confirmPassword').dirty && !comparePasswords()">
    Passwords do not match
  </mat-error>

</mat-dialog-actions>


