<mat-toolbar color="primary" class="center">
  <img class="img-fluid" src="../assets/images/logo.png" alt="Home image">
  <span class="menu-spacer"></span>
  <button mat-button routerLink="/home">Home
    <mat-icon>home</mat-icon>
  </button>
  <button *ngIf="isAdmin()" mat-button routerLink="/register">Register
    <mat-icon>person_add</mat-icon>
  </button>
  <button *ngIf="isAdmin()" mat-button routerLink="/users">Users
    <mat-icon>group</mat-icon>
  </button>
  <button *ngIf="isTeacher()" mat-button routerLink="/users">Students
    <mat-icon>group</mat-icon>
  </button>
  <button *ngIf="isAuthenticated()" mat-button routerLink="/workouts">Workouts
    <mat-icon>fitness_center</mat-icon>
  </button>
  <button *ngIf="isAuthenticated()" mat-button routerLink="/profile">My Profile
    <mat-icon>person</mat-icon>
  </button>
  <button *ngIf="!isAuthenticated()" mat-button routerLink="/login">Login
    <mat-icon>login</mat-icon>
  </button>
  <button (click)="logoutUser()" *ngIf="isAuthenticated()" mat-button routerLink="/login">Logout
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
