<div class="background">
  <div class="row justify-content-end mr-5 mt-3">
    <div class="example-button-container ">
      <button *ngIf="!authService.isStudent()" mat-fab color="primary" (click)="createNews()"
              title="Add News">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="center">
      <div fxFlex="25%" *ngFor="let num of [1,2,3,4]">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Mountains {{num}}</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              The Himalayas is a mountain range in Asia.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Delete</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

</div>
