.background {
  background-image: url(../../assets/images/newsBackground.jpg);
}

.content {
  padding: 50px;
}

.mat-card {
  width: 300px;
}

.header-image {
  background-image: url(../../assets/images/large_logo.png);
  background-size: cover;
  background-repeat: no-repeat;
}
