<h2 mat-dialog-title>Edit workout</h2>

<mat-dialog-content [formGroup]="editWorkoutFormGroup">

  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput id="title" name="title" formControlName="title">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput id="description" name="description" formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Circuit</mat-label>
    <mat-select id="circuit" formControlName="circuit">
      <mat-option value=" ">-</mat-option>
      <mat-option value="true">Yes</mat-option>
      <mat-option value="false">No</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Race</mat-label>
    <mat-select id="race" formControlName="race">
      <mat-option value=" ">-</mat-option>
      <mat-option value="true">Yes</mat-option>
      <mat-option value="false">No</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Bar</mat-label>
    <mat-select id="bar" formControlName="bar">
      <mat-option value=" ">-</mat-option>
      <mat-option value="true">Yes</mat-option>
      <mat-option value="false">No</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Pull Ups</mat-label>
    <mat-select id="pullups" formControlName="pullups">
      <mat-option value=" ">-</mat-option>
      <mat-option value="true">Yes</mat-option>
      <mat-option value="false">No</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Fitness</mat-label>
    <textarea matInput id="fitness" name="fitness" formControlName="fitness"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Comments</mat-label>
    <textarea matInput id="comments" name="comments" formControlName="comments"></textarea>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" (click)='update()'
          [formGroup]="editWorkoutFormGroup">Update
  </button>

</mat-dialog-actions>

