<div class="container">
  <div class="row">
    <div class="col">
      <img class="img-fluid" src="../../assets/images/back.jpg" alt="Running">
    </div>
    <div class="col">
      <mat-card>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <mat-label>My name is:</mat-label>
            <input matInput id="name" readonly>{{user.name}}
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>My surname is:</mat-label>
            <input matInput id="surname" readonly>{{user.surname}}
          </mat-form-field>


          <mat-form-field class="example-full-width">
            <mat-label>My DNI is:</mat-label>
            <input matInput id="dni" readonly> {{user.dni}}
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>My contact phone is:</mat-label>
            <input matInput id="phone" readonly> {{user.phone}}
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>I am a:</mat-label>
            <input matInput id="gender" readonly> {{user.gender}}
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>I am a:</mat-label>
            <input matInput id="role" readonly> {{user.role}}
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>My penalties number is:</mat-label>
            <input matInput id="penalties" readonly> {{user.penalties}}
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>My email is:</mat-label>
            <input matInput id="email" readonly> {{user.email}}
          </mat-form-field>

          <button mat-raised-button color="primary" (click)='changePassword()'>Change Password</button>
          <button mat-raised-button color="primary" (click)='addPhone()'>Change Phone</button>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
