<h2 mat-dialog-title>Change</h2>

<mat-dialog-content [formGroup]="changeFormGroup">
  <mat-form-field appearance="fill">
    <mat-label>Old password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" id="oldPassword" name="oldPassword" formControlName="oldPassword"
           required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="changeFormGroup.get('oldPassword').invalid"> {{getErrorMessage('oldPassword')}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>New password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" id="newPassword" name="newPassword" formControlName="newPassword"
           required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="changeFormGroup.get('newPassword').invalid"> {{getErrorMessage('newPassword')}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Confirm password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword"
           required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error
      *ngIf="changeFormGroup.get('confirmPassword').invalid"> {{getErrorMessage('confirmPassword')}}</mat-error>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="update()">Update</button>
</mat-dialog-actions>
