@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

body, html {
  font-family: Roboto, Arial, sans-serif;
  background-color: #303030;
  margin: 0;
  padding: 1px;
  height: 100%;
}

.background {
  width: auto;
  margin: 0;
  padding: 1px;
  height: 90%;
  background-size: cover;
  background-position: 80% 50%;
}
