@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

body, html {
  font-family: Roboto, Arial, sans-serif;
  background-color: darkslategrey;
  margin: 0;
  padding: 1px;
  height: 100%;
}
