<div class="background" id="title">
  <mat-card id="description">
    <mat-card-title>
      <h1><strong> WELCOME TO POLICE-FIT</strong></h1>
    </mat-card-title>
    <mat-card-content>
      <br>
      <p>
        | We are a gym specialized in the physical tests preparation for the candidates of the Spanish National Police
        Force.
      </p><br>
      <p>| With more than 15 years of experience in the sector, the results obtained in the entrance exams support
        us.</p><br>
      <p>| Our method is based on the routine, the responsibility and the rigorousness with which the exercises are
        executed
        and the reliability with which our trainers prepare the workouts always focused on obtaining the best
        efficiency of the student.</p><br>
      <p>| For more information, do not hesitate to contact us through the contact telephone number or social networks.
      </p>
    </mat-card-content>
    <mat-card-subtitle>
      <a href="" uk-icon="icon: receiver; ratio: 2"></a>
      &nbsp;
      <a href="https://www.linkedin.com/in/andrea-calvo-moreno-63a71b115/" uk-icon="icon: linkedin; ratio: 2"></a>
      &nbsp;
      <a href="https://github.com/acalvom/" uk-icon="icon: github; ratio: 2"></a>
    </mat-card-subtitle>
  </mat-card>
</div>
