.menu-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

button {
  margin-right: 10px;
}

.background {
  background-image: url(../../assets/images/fourItems.jpg);
}
