table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-btn-reserve {
  color: yellowgreen;
}

.mat-btn-cancel {
  color: orange;
}

.mat-btn-warning {
  color: yellow;
}
